<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=skycastsolutions;AccountKey=Rcr7u+x9GiDkH7iApKt0M4Gri0r+KBFkevj71ikILvzkr8IVIg/wsUtatO6MIyOhmwpEiNIQHRWQhdh4xvHwcA==" />
  </appSettings>
</configuration>